body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    height: 60px;
    background-color: #364156;
    align-items: center;
}

.nav2 {
    display: flex;
    height: 50px;
    background-color: #DFF8EB;
    align-items: center;
    justify-content: space-evenly;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
}

.left {
    flex-grow: 3;
}

.content table {
    width: 100%;
}

.content table {
    border-collapse: collapse;
}

.content table tr:nth-child(even){
    background-color: #DFF8EB;
}

.content table th{
    background-color: rgb(88, 145, 112);
}

.content td, .content th {
    padding: 10px;
    border: 1px solid #ffcb3d;
    margin: 0px;
}

caption {
    font-size: 2.15em;
    color: #364156;

}

.right td, .right th {
    padding: 10px;
    border: 1px solid #364156;
    margin: 0px;
}
.left img {
    width: 100%;
}
.content h1 {
    justify-content: center;
}
.right {
    flex-grow: 1;
    background-color: rgb(241, 241, 241);
}

.right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 15px;
    background-color: rgba(88, 145, 112, 0.253);
    border-radius: 1rem;
}

.right table {
    border-collapse: collapse;
    background: white;
    margin-left: auto;
    margin-right: auto;
    empty-cells: hide;
}

.right form input[type=text] {
    width: 100%;
    padding: .5em 20px;
    font-size: 1.1rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: white;
  }
.right p {
    text-align: center;
    color: rgba(88, 145, 112);
    font-size: 1.4rem;
}

.right input::placeholder{
    font-size: 1.1rem;
    color: rgba(88, 145, 112, 0.356);
}
.right .button {
    padding: 5px 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    max-width: 200px;
    background-color: #ffcb3d;

}

nav a {
    color: antiquewhite;
    text-decoration: none;
    padding: 0 1rem;
    vertical-align: middle;
    margin: auto 0;
}
nav a:first-child {
    font-size: 2.5rem;
    font-weight: 500;
}

nav a:visited {
    color: #ffcb3d
}

.nav2 form {
    display: flex;
    margin: 0;
    align-items: center;
}

.nav2 input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}
  
.nav2 form button {
    float: right;
    padding: 6px;
    background: rgb(88, 145, 112);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav2 form button:hover {
    background: rgba(33, 78, 52, 1);
}

.nav2 form label {
    font-size: 1.75rem;
    font-weight: 500;
    font-style: oblique;
    padding-right: 3rem;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    line-height: 1.4rem;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: .42rem 0 .45rem 0;
    background: #DFF8EB;
    color: #364156;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
    }
    main {
        flex-direction: column-reverse;
    }

    .content p {
        line-height: normal;
        overflow-wrap: break-word;
    }
    
  }