{% load static %}
<link rel="stylesheet" href="{% static 'estimator/site.css' %}">
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% if title %} {{ title }} {% else %} Home {% endif %}</title>
    </head>
    <body>
        <nav>
            <a href="{% url 'home' %}">Pricestimator</a>
            <a href="{% url 'home' %}">Mission</a>
            <a href="{% url 'home' %}">Contact</a>
            <a href="{% url 'create_hospital' %}">Add a Hospital</a>
        </nav>
        <div class="nav2">
            <form action="/action_page.php">
                <label for="search">Find a Hospital</label>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
              </form>
        </div>
        <main>
            <div class="left">
                <div class="content">
                    <img src="{% static 'estimator/home-image.jpg' %}" alt="home-logo">
                    <h2>What is Pricestimator?</h1>
                    <p>Pricestimator is a tool developed by Isaac Barrezueta using
                        the algorithm found in K's study. By entering the hospital's
                        annual financial records, we can extract their overall revenue
                        and their deficit and compare it with data found in the ORM
                        in order to come up with a Price Cost Ratio. Using that ratio,
                        we can estimate procedure prices for a hospital that's about
                        80% correct.
                    </p>
                </div>
            </div>
            <div class="right">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer>Property of Isaac Barrezueta ©</footer>
    </body>
</html>