{% extends 'estimator/base.html' %}
{% load humanize %}


{% block content %}
    <h1>{{ object.hospital_name }}</h1>

    <p> <strong>Gross Revenue:</strong>
        {{ object.gross_revenue }}</p>

    <p> <strong>Contractual Adjustments:</strong>
        {{ object.contractual_adjustments }}</p>

    <p> <strong>Other Deductions:</strong>
        {{ object.other_deductions }}</p>

    <p> <strong>Additions to revenue:</strong>
        {{ object.additions_to_revenue }}</p>

    <p> <strong>Deductions:</strong>
        {{ object.deductions }}</p>

    <p> <strong>Net Revenue:</strong>
        {{ object.net_revenue }}</p>

    <p> <strong>PCR:</strong>
        {{ object.price_cost_ratio|floatformat:-4}}</p>
    {% for procedure, price in procedure_prices.items %}
    <p> <strong>{{procedure}}:</strong>
        ${{ price|floatformat:2|intcomma}}</p>
    {% endfor %}
{% endblock %}